<table id="comment-datatable" class="table-content" data-source="<%= show_comment_path(format: :json, id: params[:question]) %>" >
    <thead>
        <tr>
            <th>Comment:</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>