.btn-delete{
    cursor: pointer;
    background-color: #DF2E08 !important;
    border: 1px solid #DF2E08 !important;
    color: #eeeeee;
}
.btn-class-up{
    cursor: pointer;
    background: #26B44F !important;
    border: 1px solid #26B44F !important;
    color: #eeeeee;
}
#select-classroom{
    width: 20%;
}